:root{
    --primary-color: #181A20;
    --secondary-color: #CFAF30;
    --stroke-color: #2B3139;
    --lighterStroke-color: #606C80;
    --text-color: rgb(148 163 184);
    --tranformDeg: rotate(45deg) ;
    --translatePos: ;
    --translatePosForRegis: -45px 0px ;
}

.lighter-bg{
    background-color: var(--lighterStroke-color);
}
.primary-bg{
    background-color: var(--primary-color);
}
.primary-text{
    color: var(--primary-color);
}

.stroke{
    border: 1px solid var(--stroke-color);
}
.topStroke {
    border-top: 1px solid var(--stroke-color);
}
.stroke-bg{
    background-color: var(--stroke-color);
}
.stroke-text{
    color: var(--stroke-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}
.secondary-stroke{
    border: 1px solid var(--secondary-color);
}
.secondary-text {
    color: var(--secondary-color)
}

.border-custom {
    border-radius: 0 7px 7px 0;
}
/* ------------------------------------------------------------------------------------------ */
.active-btn{
    border: 1px solid white;
}

.red-stroke{
    border: 1px solid red
}
/* ------------------------------------------------------------------------------------------ */

.login-container .login-container__middle-SerperationBlock::before{
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: white;
    position: relative;
    top:-6px;
    left: -20px;
}
.login-container .login-container__middle-SerperationBlock::after{
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: white;
    position: relative;
    top:-6px;
    left: 20px;
}
/* ------------------------------------------------------------------------------------------ */
.registerPage .register__btnBlock .btnBlock__back::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    position: relative;
    transform:  translate(-25px , 0) rotate(225deg);
} 
@keyframes backwardIcon {
    0%{
        transform: translate(-25px, 0) rotate(225deg) ;
    }
    50%{
        transform: translate(-45px, 0) rotate(225deg) ;
    }
    100%{
        transform: translate(-25px, 0) rotate(225deg) ;
    } 
}
.registerPage .register__btnBlock .btnBlock__back:hover::before{
    animation: backwardIcon 1s ease-in-out infinite ;
}
.registerPage .register_form__DoBBlock input::-webkit-inner-spin-button,
.registerPage .register_form__DoBBlock input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
/* ------------------------------------------------------------------------------------------ */
.mainBlock__leftSide .leftSide__assets::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid var(--text-color);
    border-top: 3px solid var(--text-color);
    position: relative;
    left: 87px;
    transition: 0.3s ease;
    transform: var(--tranformDeg);
    translate : var(--translatePos ) ;
}

.mainBlock__leftSide .leftSide__orders::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid var(--text-color);
    border-top: 3px solid var(--text-color);
    position: relative;
    left: 82px;
    transition: 0.3s ease;
    transform: var(--tranformDeg);
    translate : var(--translatePos) ;
}
.mainBlock__leftSide .leftSide__account::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid var(--text-color);
    border-top: 3px solid var(--text-color);
    position: relative;
    left: 70px;
    transition: 0.3s ease;
    transform: var(--tranformDeg);
    translate : var(--translatePos) ;
}

.personalInfo_name::after{
    content: "";
    display: inline-block;
    width: 4%;
    height: 2px;
    background-color: var(--stroke-color);
    position: absolute;
    left: 600px;
    top: 160px;
    transform: rotate(90deg);
}

.personalAsset__down_currency::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(135deg);
    position: relative;
    left: 10px;
    top: -3px
}